nav{
    background-color: rgb(180, 180, 180);
}
ul{
    display: flex;
    gap: 40px;
}
ul li {
    list-style-type: none;
}
li a{
    text-decoration: none;
    box-shadow: 2px 2px;
    color: black;
}
a.hover{
    transform: scale(1.1);
    background-color: rgb(4, 75, 50);
    color: rgb(79, 93, 93);
}