*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#mydiv{
    display: flex;
    flex-direction: column;
}

#header{
    display: flex;
    width: 1000px;
    background-color: bisque;
    justify-content: center;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid gold;
}
#maincontain{
   
}
#footer{
   
}